{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}
    <form action="/madlib">
        <p>Let's make a mad lib! Enter a ... </p>
        <div>
        <label for="person">person</label>
        <input type="text" name="person">
         </div>  

        <div>
        <label for="color">color</label>
        <input type="text" name="color">
        </div>

        <div>
        <label for="noun">noun</label>
        <input type="text" name="noun">
        </div>

        <div>   
        <label for="adjective">adjective</label>
        <input type="text" name="adjective">
        </div>

        <input type="submit">

    </form>
{% endblock %}